[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CandyGerrit
[access "refs/for/refs/*"]
	read = group user/CandyGerrit
	push = group user/CandyGerrit
	label-Code-Review = -2..+2 group user/CandyGerrit
	label-Verified = -1..+1 group user/CandyGerrit
	rebase = group user/CandyGerrit
	removeReviewer = group user/CandyGerrit
	submit = group user/CandyGerrit
[access "refs/heads/*"]
	read = group user/CandyGerrit
	create = group user/CandyGerrit
	push = +force group user/CandyGerrit
	pushMerge = group user/CandyGerrit
[access "refs/tags/*"]
	push = +force group user/CandyGerrit
	pushTag = group user/CandyGerrit
	pushSignedTag = group user/CandyGerrit
